<div class="container">
  <span class="author">{{ post.userId }} a ecrit:</span>
  <span class="content">{{ post.body }}</span>

  <div class="comment-container">
    <ul>
      <li *ngFor="let comment of comments">
       <span class="author">{{ comment.email}}</span>
        <span class="content">{{ comment.body}}</span>
      </li>
    </ul>
  </div>

  <div *ngIf="isPosted">{{ form.controls.body.value }}</div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input 
      type="text" 
      formControlName="body" 
      placeholder="Repondre au commentaire...">
  </form>

  <button (click)="addComment()" type="submit">Repondre</button>
  <button 
    *ngIf="form.controls.body.value" 
    (click)="deleteComment()">
    Annuler
  </button>
</div>


